@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}


@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}


@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

header {
    width: 100%;
    height: 100%;
}

.black-theme {
    width: 100%;
    height: 100vh;
    background-image: url(./../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
    // opacity: .7;
}

header .black {
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .8;
}

.header h2 {
    font-family: 'Paddis_Handwritten';
    font-size: 2rem;

    @include laptop {
        font-size: 1.5rem;
    }

    @include tablets {
        font-size: 1.2rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo h2 {
    color: rgb(24, 144, 255);
    font-weight: bold;
}

.header-center {
    text-align: center;
}

.header-center p {
    color: rgb(214, 34, 109);
    font-weight: bold;
    font-family: 'Paddis_Handwritten';
    font-size: 2rem;
    margin: 0;

    @include laptop {
        font-size: 1.5rem;
    }

    @include tablets {
        font-size: 1.2rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.header-number a {
    color: rgb(24, 144, 255);
    font-weight: bold;
    font-family: 'Paddis_Handwritten';
    font-size: 2rem;

    @include laptop {
        font-size: 1.5rem;
    }

    @include tablets {
        font-size: 1.2rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.header-row{
    display: flex;
    padding-top: 5rem;
    width: 100%;
    justify-content: center;

    @include tablets {
        padding-top: 4rem;
    }

    @include phones {
        padding-top: 5rem;
    }
}

.ant-anchor-wrapper {
    background-color: none;
}

.left-menu {
    position: absolute;
    left: 2rem;

    @include laptop {
        left: 1.5rem;
    }

    @include tablets {
        left: 1rem;
    }

    @include phones {
        left: .1rem;
    }
}

.left-menu p {
    color: rgb(24, 144, 255);
    font-weight: bold;
    font-family: 'Paddis_Handwritten';
    font-size: 1.2rem;
    margin: 0;

    @include tablets {
        font-size: 1rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.ant-affix {
    left: 0;
}

.header-social {
    position: absolute;
    right: 0;
    margin-right: 2rem;

    @include laptop {
        margin-right: 1.5rem;
    }

    @include tablets {
        margin-right: 1rem;
    }

    @include phones {
        margin-right: .1rem;
    }
}

.social-vk {
    border: 2px;
    border-radius: 50%;
    border-color: rgb(24, 144, 255);
}

.social-vk a {
    font-size: 1.5rem;
    padding: 5px;

    @include laptop {
        font-size: 1.2rem;
    }

    @include tablets {
        font-size: 1rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.social-inst a {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @include laptop {
        font-size: 1.2rem;
    }

    @include tablets {
        font-size: 1rem;
    }

    @include phones {
        font-size: .8rem;
    }
}

.header-img-mikki {
    width: 15rem;
    height: 15rem;
    background-image: url(./../img/mikki.jpg);
    // background-repeat: no-repeat;
    background-size: cover;

    @include laptop {
        width: 12rem;
        height: 12rem;
    }

    @include tablets {
        width: 10rem;
        height: 10rem;
    }

    @include phones {
        width: 8rem;
        height: 8rem;
    }
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .ant-anchor-link > a.ant-anchor-link-title {
    font-family: 'Paddis_Handwritten';
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    transition: .5s;
    color: rgb(24, 144, 255);

    @include tablets {
        font-size: 1rem;
        padding: .6rem;
    }

    @include phones {
        font-size: .8rem;
        padding: .3rem;
    }
}

 .ant-anchor-link-active > a.ant-anchor-link-title {
    color: rgb(214, 34, 109);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Paddis_Handwritten';

    @include tablets {
        font-size: 1rem;
        padding: .6rem;
    }

    @include phones {
        font-size: .8rem;
        padding: .3rem;
    }
}


.header-img h2{
    font-family: 'Paddis_Handwritten';
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: pulse 2s infinite;

    @include laptop {
        font-size: 3.125rem;
    }

    @include tablets {
        font-size: 2.5rem;
    }

    @include phones {
        margin-top: 1rem;
        font-size: 1.2em;
    }
  }


@keyframes pulse{
  0%{
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 8px white, 0 0 12px crimson, 0 0 20px crimson, 0 0 25px crimson, 0 0 30px crimson, 0 0 45px crimson;
  }
  50%{
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 10px white, 0 0 15px crimson, 0 0 25px crimson, 0 0 30px crimson, 0 0 40px crimson, 0 0 65px crimson;
  }
  100%{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
  }
}